RewriteEngine On

RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]{3,4}
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1.html

RewriteCond %{QUERY_STRING} ^(.*(?:^|&))id=([^&]*)&?(.*)&?$
RewriteRule ^show_bug\.cgi$ /bug/%2? [R=302,L]

RewriteCond %{QUERY_STRING} ^(.*(?:^|&))component=([^&]*)&?(.*)&?$
RewriteRule ^buglist\.cgi$ /component/%2? [R=302,L]

RewriteCond %{QUERY_STRING} ^(.*(?:^|&))status=NEW&?(.*)&?$
RewriteRule ^buglist\.cgi$ /status/new? [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*(?:^|&))status=UNCONFIRMED&?(.*)&?$
RewriteRule ^buglist\.cgi$ /status/unconfirmed? [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*(?:^|&))status=COMFIRMED&?(.*)&?$
RewriteRule ^buglist\.cgi$ /status/confirmed? [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*(?:^|&))status=IN_PROGRESS&?(.*)&?$
RewriteRule ^buglist\.cgi$ /status/in_progress? [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*(?:^|&))status=RESOLVED&?(.*)&?$
RewriteRule ^buglist\.cgi$ /status/resolved? [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*(?:^|&))status=CLOSED&?(.*)&?$
RewriteRule ^buglist\.cgi$ /status/closed? [R=302,L]

RewriteCond %{QUERY_STRING} ^(.*(?:^|&))resolution=FIXED&?(.*)&?$
RewriteRule ^buglist\.cgi$ /resolution/fixed? [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*(?:^|&))resolution=INVALID&?(.*)&?$
RewriteRule ^buglist\.cgi$ /resolution/invalid? [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*(?:^|&))resolution=DUPLICATE&?(.*)&?$
RewriteRule ^buglist\.cgi$ /resolution/duplicate? [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*(?:^|&))resolution=WORKSFORME&?(.*)&?$
RewriteRule ^buglist\.cgi$ /resolution/worksforme? [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*(?:^|&))resolution=WONTFIX&?(.*)&?$
RewriteRule ^buglist\.cgi$ /resolution/wontfix? [R=302,L]

